#main {
    width: 1026px;
    padding: 2%;
    /* margin: 2%; */
    margin-left: 0%;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
   
}

#main h2 {
    text-align: center;
    background-color:rgb(25, 0, 22);
    color: rgb(255, 255, 0);
    padding: 2%;
    font-size: 200%;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#canvas {
    padding: 10px;
    border-color: rgb(25, 0, 22);
    border: 1%;
    background-color:rgb(25, 0, 22);
    border-style: solid;
    
}
